.form {
    width: 100%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.form__input-label {
    display: flex;
    flex-direction: column;
}

.form__input-date {
    height: 50px;
}

.form__input-dep {
    height: 50px;
}