.form {
    width: 100%;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: .5% 3.5%;
}

.from__title {
    margin: 0 auto 30px;
    width: fit-content;
}
.form__input {
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 30px;
}

.form__input-label {
    display: flex;
    flex-direction: column;
}

.form__submit-btn {
    grid-column-start: 2;
    background-color: lightgreen;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 150px;
    margin-top: 10px;
    justify-self: end;
}

.form__submit-btn:hover {
    opacity: .8;
}