.table {
    text-align: center;
}

.table__all-radio-btn {
    margin: 0 -5px 10px;
    height: 15px;
    width: 15px;
    background-color: red;
    border: none;
    border-radius: 5px;
}

.table__container {
    overflow-y: scroll;
    height: 88vh;
}

.table__header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0 5px grey;
}