.delete__btn {
    margin-top: 30px;
    padding: 0;
    border: none;
    height: 50px;
    width: 40%;
    align-self: flex-end;
    background-color: lightcoral;
    border-radius: 10px;
    transition: all .15s ease-in-out;
}

.delete {
    display: flex;
    flex-direction: column;
}

.delete__btn:hover {
    opacity: .8;
}